@charaset "utf-8";

body{
  background-color: mediumaquamarine;
  }
  
  .breadcrumbs li {
      display: inline; /*liを横並び*/
      list-style-type: none; /*点を消す*/
      }
      
  .breadcrumbs li:before {
      content: " > "; /*liの前に記号追加*/
      }
      
  .breadcrumbs li:first-child:before {
      content;""; /*最初だけcontentを消す*/
      }
