@charset "utf-8";

body{
  background-color: mediumaquamarine;
  }
  
  #gnav a {
    display: block; /*a要素のブロック化*/
    padding:10px 0; /*上下に空間を確保する*/
    text-align: center; /*中央揃え*/
    text-decoration: none; /*下線を消す*/
    background: darkgreen;
    color: white;
  }
  #gnav a:hover {
    background: lightgreen;
    color: black;
  }
  
  #gnav ul{
    overflow: hidden;
  }
  
  #gnav li {
    float: left;　/*固定幅にするためにfloatで指定*/
    width: 156px;
    border-right: white 1px solid; /*右に線を引く*/
    list-style-type: none; /*点を消す*/
  }
  
  #gnav li:first-child{
    border-left: white 1px solid; /*左にも線を引く*/
  }
  
  .breadcrumbs li {
      display: inline; /*liを横並び*/
      list-style-type: none; /*点を消す*/
      }
      
  .breadcrumbs li:before {
      content: " > "; /*liの前に記号追加*/
      }
      
  .breadcrumbs li:first-child:before {
      content:""; /*最初だけcontentを消す*/
      }
